<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>514753139006-08q4oovfb6bd1s2culmhopnjftm5ivri.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.514753139006-08q4oovfb6bd1s2culmhopnjftm5ivri</string>
	<key>API_KEY</key>
	<string>AIzaSyD6wpdBAsASEsc-Tr1CbPcxUDC00xl_7Bk</string>
	<key>GCM_SENDER_ID</key>
	<string>514753139006</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arandomdeveloper.TagCashier</string>
	<key>PROJECT_ID</key>
	<string>tagapp-6012f</string>
	<key>STORAGE_BUCKET</key>
	<string>tagapp-6012f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:514753139006:ios:26609f5e15810489791c6f</string>
	<key>DATABASE_URL</key>
	<string>https://tagapp-6012f.firebaseio.com</string>
</dict>
</plist>